<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infos catway</title>
  </head>
  <body>
    <button><a href="/list_catways">Retour</a></button>
    <h1>Détails du catway</h1>

    <% if (successMessage) { %>
    <p id="successMessage" style="color: green"><%= successMessage %></p>
    <% } %> <% if (errorMessage) { %>
    <p id="errorMessage" style="color: red"><%= errorMessage %></p>
    <% } %>

    <p><strong>Numéro de pont : </strong><%= catway.catwayNumber %></p>
    <p><strong>Type : </strong><%= catway.type %></p>
    <p><strong>Description : </strong><%= catway.catwayState %></p>
    <button>
      <a href="/catways/update_catway/<%= catway.id %>">Modifier</a>
    </button>

    <script>
      // Fonction pour masquer les messages après 3 secondes
      setTimeout(() => {
        const successMsg = document.getElementById("successMessage");
        const errorMsg = document.getElementById("errorMessage");

        if (successMsg) {
          successMsg.style.transition = "opacity 0.5s";
          successMsg.style.opacity = "0";
          setTimeout(() => successMsg.remove(), 500);
        }

        if (errorMsg) {
          errorMsg.style.transition = "opacity 0.5s";
          errorMsg.style.opacity = "0";
          setTimeout(() => errorMsg.remove(), 500);
        }
      }, 3000);
    </script>
  </body>
</html>
