<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des catways</title>
  </head>
  <body>
    <button><a href="/dashboard">Retour</a></button>
    <h1>Liste des catways</h1>

    <% if (successMessage) { %>
    <p id="successMessage" style="color: green"><%= successMessage %></p>
    <% } %> <% if (errorMessage) { %>
    <p id="errorMessage" style="color: red"><%= errorMessage %></p>
    <% } %>

    <table>
      <thead>
        <tr>
          <th style="width: 20rem; padding-bottom: 2rem">Numéro de pont</th>
          <th style="width: 20rem; padding-bottom: 2rem">Type</th>
          <th style="width: 20rem; padding-bottom: 2rem"></th>
          <th style="width: 20rem; padding-bottom: 2rem"></th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        <% if (catways.length > 0) { %> <% catways.forEach(catway => { %>

        <tr>
          <td><%= catway.catwayNumber %></td>
          <td><%= catway.type %></td>
          <td>
            <a href="/catways/details_catway/<%= catway._id %>">Plus d'infos</a>
          </td>
          <td>
            <a href="/catways/delete_catway/<%= catway._id %>">Supprimer</a>
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="3">Aucun catway trouvé</td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script>
      // Fonction pour masquer les messages après 3 secondes
      setTimeout(() => {
        const successMsg = document.getElementById("successMessage");
        const errorMsg = document.getElementById("errorMessage");

        if (successMsg) {
          successMsg.style.transition = "opacity 0.5s";
          successMsg.style.opacity = "0";
          setTimeout(() => successMsg.remove(), 500);
        }

        if (errorMsg) {
          errorMsg.style.transition = "opacity 0.5s";
          errorMsg.style.opacity = "0";
          setTimeout(() => errorMsg.remove(), 500);
        }
      }, 3000);
    </script>
  </body>
</html>
